np-scheduler:
  services:
    global:
      imagePullSecrets: nextpay-harbor
      image:
        repository: hub.saobang.vn/nextpay
      elasticApm:
        ELASTIC_APM_SERVER_URL: http://10.1.150.114:8200
        ELASTIC_APM_ENVIRONMENT: np-scheduler-dev
        ELASTIC_APM_ENABLE_LOG_CORRELATION: true
    #np-scheduler-api
    np-scheduler-api:
      image:
        name: nextpay-service-np-scheduler-api
        tag: dev-cf1f89ad
      service:
        type: ClusterIP
        specs:
          - port: 8080
            containerPort: 8080 # if omit, default to port <-- this is container's port
            name: http
            protocol: TCP #default to TCP protocol
      resources:
        limits:
          cpu: 250m
          memory: 512Mi
        requests:
          cpu: 250m
          memory: 512Mi
      ingress:
        enabled: true
        annotations: {}
        hosts:
          - host: dev-scheduler-api.nextpay.vn
            path: /
            servicePort: 8080
            pathType: Prefix
      configmap:
        SPRING_PROFILES_ACTIVE: dev
        SERVER_PORT: 8080
        MONGODB_URI: mongodb://dev:nextlend-dev@10.1.150.40:27017/nextlend-scheduler
        LOG_LEVEL: DEBUG
        JWT_SECRET: 36c8dda71cc687a94c2bec6a51969c59
        CID: vn
        ZID: vn01
        JWT_EXPIRATION: 28800
    #np-sheduler-web
    np-scheduler-web:
      image:
        name: nextpay-service-np-scheduler-web
        tag: dev-68ffec6e
      service:
        type: ClusterIP
        specs:
          - port: 80
            containerPort: 80 # if omit, default to port <-- this is container's port
            name: http
            protocol: TCP #default to TCP protocol
      ingress:
        enabled: true
        annotations: {}
        hosts:
          - host: dev-scheduler.nextpay.vn
            path: /
            servicePort: 80
            pathType: Prefix
      configmap:
        VUE_APP_API_URL: np-scheduler-api:8080/bgs
    #np-sheduler-logtime
    np-scheduler-logtime:
      replicaCount: "0"
      image:
        name: np-schedule/np-scheduler-logtime
        tag: dev-6a607e85
      service:
        type: ClusterIP
        specs:
          - port: 80
            containerPort: 80 # if omit, default to port <-- this is container's port
            name: http
            protocol: TCP #default to TCP protocol
      ingress:
        enabled: true
        annotations: {}
        hosts:
          - host: dev-logtime.nextpay.vn
            path: /
            servicePort: 80
            pathType: Prefix
    #np-sheduler-test-job
    np-scheduler-test-job:
      image:
        name: np-schedule/np-scheduler-test-job
        tag: dev-c8eb97f8
      service:
        type: ClusterIP
        specs:
          - port: 80
            containerPort: 80 # if omit, default to port <-- this is container's port
            name: http
            protocol: TCP #default to TCP protocol
